@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}

@media (max-width: 575px) {
    body {
        font-size: 15px;
    }
}

*,
::after,
::before {
    box-sizing: border-box;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}


div[class^="col"] {
    padding-right: 15px;
    padding-left: 15px;
}


@media only screen and (min-width: 320px) {
    .container {
        width: 100% !important;
    }
}

@media only screen and (min-width: 480px) {
    .container {
        width: 100% !important;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        width: 100% !important;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        width: 100% !important;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 1140px !important;
    }
}


/* img */
img {
    width: 100%;
    max-width: 100%;
}

/* color */
.mf-txt-blue {
    color: #235CF6;
    font-weight: 700;
}


section {
    padding: 30px 0;
}

.box {
    padding-left: 96px;
    padding-right: 96px;
}

@media (max-width: 991.5px) {
    .box {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.title {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 1px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    position: relative;
}

.title img {
    display: inline-block;
    width: 32px;
    margin-right: 10px;
}

.description {
    font-size: 1.1em;
    font-weight: 400;
    color: #000;
}

.description p {
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 1.5;
}

.description p:last-of-type:not(:only-of-type){
    margin-bottom: 0;
}

.payment-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

.payment-icons img {
    width: 50%;
}

@media (max-width: 575px) {
    .payment-icons {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
    }
}

@media (max-width: 375px) {
    .payment-icons {
        grid-template-columns: 1fr 1fr;
    }
}

.delivery-option {
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 30px;
}

.option-content {
    display: grid;
    grid-template-columns: 25% 1fr;
    align-items: center;
    gap: 30px;
}

.option-content p {
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .option-content {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .option-content img {
        width: 150px;
    }
}

.delivery-fee {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.fee-table {
    border: 1px solid #979797;
    border-spacing: 0;
    line-height: 1.5;
}

.fee-table td {
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid #979797;
    border-bottom: 1px solid #979797;
}

.fee-table thead td {
    font-weight: 700;
    background-color: #eef3fe;
}

.fee-table tr>td:last-child {
    border-right: none;

}

.fee-table tbody tr:last-child>td {
    border-bottom: none !important;
}

@media (max-width: 767px) {
    .delivery-fee {
        grid-template-columns: 1fr;
    }
}