/*
-----------------------------------------------------------------------
  privacy_6
-----------------------------------------------------------------------
*/


.privacy_6__content {
  position: relative;
  margin-bottom: 70px;
}

.privacy_6__content:last-child {
  margin-bottom: 0;
}

.privacy_6__list-warp {
  margin-bottom: 30px;
}

.privacy_6__list-warp:last-child {
  margin-bottom: 0;
}

.privacy_6__list {
  font-size: 19px;
  color: var(--color-black);
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}

.privacy_6__list-warp p {
  font-size: 17px;
  letter-spacing: 0.5px;
}

@media only screen and (max-width:480px) {

  .privacy_6__list-warp {
    margin-bottom: 25px;
  }

  .privacy_6__list {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .privacy_6__list-warp p {
    font-size: 16px;
    margin-bottom: 15px;
  }

}